@model IEnumerable<onlineShop1.Models.Category>

@{
    ViewBag.Title = "Store";
}

<h2>Browse Category</h2>
<p>
  Select from @Model.Count()
  genres:
</p>
<ul>
  @foreach(var cat in Model)
  {
  <li>@Html.ActionLink(cat.Name, "Browse", new { category = cat.Name})</li>
  }
</ul>

